{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Admin Profile
{% endblock %}

{% block body_block %}
    <!-- Body start -->
    <div class="wall" style='background-image: url("{% static 'images/bg4.jpg' %}");'>
        <br><br><br>
        <div class="summary-c"><!--Order summary Start-->
            <div class="summary-box">
                <h2 class="summary-caption">Current Categories</h2>

                <div class="summary-box-info">
                    {% for category in categories %}
                    <div class="summary-items">
                        <h3><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a></h3>
                    </div><br>
                    {% endfor %}
                </div>

                <div class="summary-checkout">
                    <button><a href="#">Add category</a></button>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}