<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- this is an html page contains all the common feature of the website to avoid duplicate code -->
<!-- it displays the navigation bar and the footer -->
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}">
    <!-- Title of the page -->
    <title>FineWood- 
    {% block title_block %}
    Home
    {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <!--Header start-->
    <header class="nav-section">
        <div class="logo-container">
            <a href="{% url 'rango:index' %}">
                <img src="{% static 'images/logo.jpg' %}" alt="logo" class="logo">
            </a>
            <span style="margin-left: 10px;">
            {% if user.is_authenticated %}
                <p id="nametag">  Hey {{ user.username}}! Welcome Back to FineWood</p>
            {% else %}
                <p id="nametag">  Hey Guest</p>
            {% endif %}
            </span>
        </div>
        <!-- Navigation Bar -->
        <div class="nav-main">
            <div class="shopping-cart">
                <i class="fa fa-home fa-lg"></i>
                <p><a href="{% url 'rango:index' %}">Home</a></p>
            </div>
            <div class="shopping-cart">
                <i class="fa fa-shopping-cart fa-lg"></i>
                <p><a href="{% url 'rango:cart' %}">Cart</a></p>
            </div>
            {% if user.is_authenticated %}
            <div class="sign-in">
                <i class="fa fa-sign-out fa-lg"></i>
                <p><a href="{% url 'rango:logout' %}">Logout</a></p>
            </div>
            {% else %}
            <div class="sign-in">
                <i class="fa fa-sign-in fa-lg"></i>
                <p><a href="{% url 'rango:login' %}">Login</a></p>
            </div>
            <div class="create-user">
                <i class="fa fa-users fa-lg"></i>
                <p><a href="{% url 'rango:register' %}">Create Account</a></p>
            </div>
            {% endif %}
        </div>

    </header>
    <!--Header end-->
    <!-- category navigation bar start-->
    <div class="navbar-container">
        <nav>
            <ul class="nav-links">
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <!-- category navigation bar end-->
    
    <!-- body of all Pages go here -->
    {% block body_block %}

    {% endblock %}
    <!--Footer start-->
    <footer> 
        <div class="shop item">
            <h4>Categories</h4>
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="products item">
            <h4>Shop</h4>
            <ul>
                <li><a>Featured</a></li>
                <li><a>New Arrivals</a></li>
            </ul>
        </div>

        <div class="customer item">
            <h4>QUICKLINKS</h4>
            <ul>
                <li><a href="{% url 'rango:register' %}">Customer Register</a></li>
                <li><a href="{% url 'rango:cart' %}">Cart</a></li>
                <li ><a href="{% url 'rango:admin' %}" id="admintag">Admin Profile</a></li>
            </ul>

        </div>

        <div class="copyright">
            <p>C&copy; 2023 FINEWOOD. All Right Reserved</p>
        </div>
    </footer> <!--Footer end-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>