{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Cart
{% endblock %}

{% block body_block %}
    <!-- Body start -->
    <!-- this page is used to display the the items in the cart and the bill -->
    <div class="wall" style='background-image: url("{% static "images/bg3.jpg" %}")'>
        <div class="cart-section">
            <h2 class="cart-caption"> Cart</h2>
            <div class="cart-display-section">
                <div class="products-c"> <!--Products container start-->
                    <div class="summary-box">
                        <h2 class="summary-caption">Products</h2>
                        <div class="summary-box-info">
                            <div class="summary-items">
                                <h3>Product Name</h3>
                                <p>Price</p>
                            </div>
                            <br>
                            <div id="cartDiv">
                                <div class="summary-items">
                                    <h3>name</h3>
                                    <p>price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--Products container end-->

                <div class="summary-c"><!--Order summary Start-->
                    <div class="summary-box">
                        <h2 class="summary-caption">Order Summary</h2>
                        <div class="summary-box-info checkoutbox">
                            <form class="form_container" style="position: inherit;" enctype="multipart/form-data" role="form" id="order_form" method="post" action="{% url 'rango:cart'  %}">
                                {% csrf_token %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    {{ field.errors }}
                                    {{ field.help_text }}
                                    {{ field.label }}
                                    {{ field }}
                                    <div class="p-2"></div>
                                {% endfor %}
                                {% if user.is_authenticated %}
                                <button class="btn btn-primary" type="submit" name="submit" style="font-family:Rubik, sans-serif;font-size: large;">
                                    CHECKOUT
                                </button>
                                {% endif %}
                                <div class="p-5"></div>
                            </form>
                        </div>                   
                    </div>
                </div><!--Order Summary end-->
            </div>

        </div>
    </div>
    <!-- Body end -->
{% endblock %}