{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Cart
{% endblock %}

{% block body_block %}
    <!-- Body start -->
    <div class="wall" style='background-image: url("{% static "images/bg3.jpg" %}")'>
        <div class="cart-section">
            <h2 class="cart-caption"> Cart</h2>
            <div class="cart-display-section">
                <div class="products-c"> <!--Products container start-->
                    <div class="summary-box">
                        <h2 class="summary-caption">Products</h2>
                        <div class="summary-box-info">
                            <div class="summary-items">
                                <h3>Product Name</h3>
                                <p>Price</p>
                            </div>
                            <br>
                            <div id="cartDiv">
                                <div class="summary-items">
                                    <h3>name</h3>
                                    <p>price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--Products container end-->

                <div class="summary-c"><!--Order summary Start-->
                    <div class="summary-box">
                        <h2 class="summary-caption">Order Summary</h2>

                        <div class="summary-box-info">
                            <div id="Quantity" class="summary-items">
                                <h3>No.Of Items</h3>
                                <p>0</p>
                            </div>
        
                            <div id="bill" class="summary-total">
                                <h3>Subtotal</h3>
                                <p>£ <span>0.00</span></p>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="summary-checkout">
                            <button>CHECKOUT</button>
                        </div><br>
                        {% endif %}
                    </div>
                </div><!--Order Summary end-->
            </div>

        </div>
    </div>
    <!-- Body end -->
{% endblock %}