{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Products
{% endblock %}

{% block body_block %}
    <div class="products-section">
        <div class="product-caption">
            <h2 style="display:inline">HOME > {{category.name}}</h2>
            <div class="dropdown">
                <button class="dropbtn">Sort</button>
                <div class="dropdown-content">
                    <a href="#">High to Low Price</a>
                    <a href="#">Low to High Price</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Filter</button>
                <div class="dropdown-content">
                    <a href="#">Black</a>
                    <a href="#">White</a>
                    <a href="#">Grey</a>
                    <a href="#">Gold</a>
                    <a href="#">Brown</a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="grid-container"> <!--Grid start end-->
            {% if category %}
                {% if products %}
                    {% for product in products %}
                    <div class="grid-item"> <!--Item 1-->
                        <div class="card-item">
                            <div class="card-img">
                                <img src="{{product.product_image.url}}" alt="pic">
                            </div>
                            <div class="card-info">
                                <h4>{{ product.title }}</h4>
                                <small>£{{ product.price }}</small>
                            </div>
                            <div class="button">
                                <button>ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <strong>No products currently in category.</strong>
                {% endif %}
            {% else %}
                The specefied category does not exist.
            {% endif %}
        </div>
        <br><br>
    </div>
    {% endblock %}