{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<!--Home start-->
<div class="banner-section"> <!--Banner start-->
    <div class="banner-container">
        <div class="img-section">
            <img src="{% static 'images/banner1.jpg' %}" alt="banner"
                style="display: block;margin-left: auto; margin-right: auto;">
        </div>
        <div class="caption-section">
            <h4 style="color: rgb(0, 0, 0);">SHOP FOR LOUNGE</h4>
            <p>Check out latest collections.</p>
        </div>
    </div>
    <div class="img-section">
        <img src="{% static 'images/banner2.jpg' %}" alt="banner"
            style="display: block;margin-left: auto; margin-right: auto;">
    </div>
</div> <!--Banner end-->
<div class="row">
    <div class="adcolumn">
        <img src="{% static 'images/r_ad1.jpg' %}" alt="ad1">
        <h2> REVAMP YOUR SPACE</h2>
        <p>Start over and up your style game.</p><br>
    </div>
    <div class="adcolumn">
        <img src="{% static 'images/r_ad2.jpg' %}" alt="ad2">
        <h2>TWIN THINGS</h2>
        <p>A little Coordination goes a long way..</p><br>
    </div>
    <div class="adcolumn">
        <img src="{% static 'images/r_ad3.jpg' %}" alt="ad3">
        <h2>TRENDS OF THE MOMENT</h2>
        <p>Mordern to Vintage looks .</p><br>
    </div>
</div><br>
<div class="row">
    <div class="foot-column">
        <img src="{% static 'images/ad1.jpg' %}" alt="ad4">
    </div>
    <div class="foot-column">
        <img src="{% static 'images/ad2.jpg' %}" alt="ad5">
    </div>
</div>
<!--Home end-->
{% endblock %}