{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<!--Home start-->
<div class="banner-section"> <!--Banner start-->
    <div class="banner-container">
        <div id="imageroll">
            <a href="#nogo" id="imgwrap">
                <img src="{% static 'images/banner1.jpg' %}" alt="banner">
                <img src="{% static 'images/bg2.jpg' %}" alt="Pic2">
                <img src="{% static 'images/bg3.jpg' %}" alt="Pic3">
            </a>
            <div>
                <a href="###1"><em>Best Taste</em><em>Picture one</em></a>
                <a href="###2"><em>Dream House</em><em>Picture Two</em></a>
                <a href="###3" class="last"><em>Best Choice</em><em>Picture Three</em></a>
            </div>
        </div>
        <div class="caption-section">
            <h4 style="color: rgb(0, 0, 0);">SHOP FOR LOUNGE</h4>
            <h3>Check out latest collections.</h3>
        </div>
    </div>
    <div class="img-section">
        <img id="lewis2" src="{% static 'images/banner2.jpg' %}" alt="banner"
            style="display: block;margin-left: auto; margin-right: auto;">
    </div>
</div> <!--Banner end-->
<div class="row">
    <div class="adcolumn">
        <img src="{% static 'images/r_ad1.jpg' %}" alt="ad1">
        <h2> REVAMP YOUR SPACE</h2>
        <p>Start over and up your style game.</p><br>
    </div>
    <div class="adcolumn">
        <img src="{% static 'images/r_ad2.jpg' %}" alt="ad2">
        <h2>TWIN THINGS</h2>
        <p>A little Coordination goes a long way..</p><br>
    </div>
    <div class="adcolumn">
        <img src="{% static 'images/r_ad3.jpg' %}" alt="ad3">
        <h2>TRENDS OF THE MOMENT</h2>
        <p>Mordern to Vintage looks .</p><br>
    </div>
</div><br>
<div class="row">
    <div class="foot-column">
        <img src="{% static 'images/ad1.jpg' %}" alt="ad4">
    </div>
    <div class="foot-column">
        <img src="{% static 'images/ad2.jpg' %}" alt="ad5">
    </div>
</div>
<!--Home end-->
{% endblock %}