<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}">
    <!-- Title of the page -->
    <title>FineWood-Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <!--Header start-->
    <header class="nav-section">
        <div class="logo-container">
            <a href="/rango">
                <img src="{% static 'images/logo.jpg' %}" alt="logo" class="logo">
            </a>
        </div>
        <!-- Navigation Bar -->
        <div class="navbar-container">
            <nav>
                <ul class="nav-links">
                    <li><a href="/rango/">Home</a></li>
                    <li><a href="/rango/product/">Products</a></li>

                </ul>
            </nav>
        </div>
        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" class="search-box" placeholder=" Search ">
            <i class="fa fa-search"></i>
        </div>
        <!-- Navigation Bar -->

        <div class="shopping-cart">
            <i class="fa fa-shopping-cart fa-lg"></i>
            <p><a href="#">Cart</a></p>

        </div>

        <div class="sign-in">
            <i class="fa fa-sign-in fa-lg"></i>
            <p><a href="/rango/login/">Login</a></p>
        </div>

        <div class="profile-user">
            <i class="fa fa-user-circle fa-lg"></i>
            <p><a href="#">My Profile</a></p>
        </div>

        <div class="create-user">
            <i class="fa fa-users fa-lg"></i>
            <p><a href="/rango/register/">Create Account</a></p>
        </div>
    </header>
    <!--Header end-->
    <!-- Body start -->
    <div class="wall" style='background-image: url("{% static 'images/bg1.jpg' %}");'>
        <form id="formReg" class="account_container">
            <h1>Join Us</h1><br>
            <hr><br>
            <h2>Create Account</h2>
            <br>
            <div class="columns">
                <label for="firstname"><b>First Name</b></label>
                <input type="text" placeholder="Enter First Name" name="Firstname" required>
    
                <label for="Email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
    
                <label for="pass1"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="pswd" required>
            </div>
            <div class="columns">
                <label for="email"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" name="Surname" required>
    
                <label for="phone"><b>Telephone</b></label>
                <input type="text" placeholder="Enter Telephone" name="phone" required>
    
                <label for="pass2"><b>Re Enter Password</b></label>
                <input type="password" placeholder="Enter Password" name="pswd1" required>
            </div>
            <label for="address"><b>Address</b></label>
            <input type="text" placeholder="Enter Address" name="Address" required>
            <button type="submit" class="btn" >Create Account</button>
            <label id="lblreg"></label>
        </form>
    </div>
    <!-- Body end -->
    <!--Footer start-->
    <footer> 
        <div class="shop item">
            <h4>SHOP</h4>
            <ul>
                <li><a href="#">Dining</a></li>
                <li><a href="#">Lounge</a></li>
                <li><a href="#">Garden</a></li>
                <li><a href="#">Bedroom</a></li>
                <li><a href="#">Decor</a></li>
            </ul>
        </div>

        <div class="products item">
            <h4>Category</h4>
            <ul>
                <li><a href="#">Featured</a></li>
                <li><a href="#">New Arrivals</a></li>
            </ul>
        </div>

        <div class="customer item">
            <h4>QUICKLINKS</h4>
            <ul>
                <li><a href="login.html">Customer Login</a></li>
                <li><a href="profile.html">My Profile</a></li>
                <li><a href="Register.html">Customer Register</a></li>
                <li><a href="cart_page.html">Cart</a></li>

            </ul>

        </div>

        <div class="copyright">
            <p>C&copy; 2023 FINEWOOD. All Right Reserved</p>
        </div>
    </footer> <!--Footer end-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>